* {
    font-family: "Kode Mono", "Comfortaa";
    font-optical-sizing: auto;
    font-weight: 400;
    color: white;
    font-style: normal;
    overflow-x: hidden;
}

.custom-alert {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100vh);
    padding: 20px;
    width: 300px;
    /* Установим ширину алерта */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adding box shadow */
    text-align: center;
    transition: all 0.7s;
    transition-timing-function: cubic-bezier(0.8, -0.02, 0, 1.63);
    /* Добавим плавный переход для всех свойств */
}

.custom-alert_active {
    visibility: visible;
    transform: translate(-50%, -50%);
    
}

.custom-alert p {
    margin: 0 0 10px;
    color: #333333;
    font-size: 16px;
}

.custom-alert button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: color 0.3s;
    /* Плавное изменение цвета текста */
}

.custom-alert button:hover {
    background-color: #0056b3;
}

.custom-alert button:active {
    color: #ffffff;
    /* Изменяем цвет текста при нажатии */
}

body {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/bg.jpg);
    background-position: center;
    top: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    max-height: 100vh;
    padding: 0;
}

select *,
select,
input {
    color: black;
}

h1 {
    font-size: 1em;
}

button {
    background: rgba(0, 0, 0, 0.233);
    border: white 1px solid;
    padding: 2% 8%;
    color: white;
    margin-top: 0;
    border-radius: 12px;
}